.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 20px 40px;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 0;
    width: calc(100% - 80px);

    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6600; 
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }

    .nav {
        display: block;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #0b1b34;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 15px 0;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}